*{
	margin: auto;
	padding: auto;
	text-align: center;
}

.hero-unit{
	background-image: url("../img/pattern_4.png");
}

h4 {
	font-size: 2em ;
	line-height: 1em;
}

.result_contents{
	font-size: 1.5em;
	line-height: 1.1em;
}

.tweet_btn{
	font-size: 0.4em;
	margin-bottom: 20px;
}

.result{
	background-color: #ffffff;
	border: 10px solid #32ccff;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 1em;
}

#about{
	font-size: 1.3em;
}

#input_name_area{
	margin-top: 50px;
}

.shindan_title h4{
	text-align: left;
}

.result_contents p{
	text-align: left;
}

#left {
	z-index: 1;
}

#right {
	z-index: 1;
}

#result_contents{
	z-index: 10;
}


#form-area{
	width: 400px;
	margin: auto;
	padding: auto;
	text-align: center;
}

