<!DOCTYPE html>
<html lang="jp">
  <head>
			<title>おまとめーかー</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/mystyle.css" rel="stylesheet" media="screen">

		<script type="text/javascript">

		  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-10568379-13']);
				  _gaq.push(['_trackPageview']);

					  (function() {
							    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
									    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
											    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
													  })();

														</script>

  </head>
<body>

		<div class="hero-unit">
			<a href="http://shindan.contents4you.com/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
			
				</div>

		<div class="">
			<div class="">
				<div class="ninja_onebutton">
					<script type="text/javascript">
					//<![CDATA[
					(function(d){
						if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_59e368a8fd3a2b167a9a65deb445fe9e)=='undefined'){
									document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/59e368a8fd3a2b167a9a65deb445fe9e'><\/sc"+"ript>");
						}else{
									window.NINJA_CO_JP_ONETAG_BUTTON_59e368a8fd3a2b167a9a65deb445fe9e.ONETAGButton_Load();}
					})(document);
					//]]>
					</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
				</div>
				

				<h2>About</h2>
				<hr>
				<p id="about">
					本サービスは<a href="http://shindanmaker.com/" target="_blank">診断メーカー</a>のHOT診断をまとめて試せるサービスです。<br />
					各診断結果をつぶやくこともできますのでお試しください。
				</p>

				<form id="input_name_area" method="GET" action="./result">
					<fieldset>
						<legend><h2>診断を行う</h2></legend>
						<div class="row-fluid">
						<div class="span4 offset4">
							<input type="text" id="input_name" name="name" class="input-xlarge"  placeholder="名前を入れてください">
							<button type="submit" class="btn-primary pull-right">診断する</button>
						</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
</body>
</html>
