<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822/JP/higumachan-22/8005/b682fdcd-7fe0-43f8-9eae-0f87f1b82346"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fhigumachan-22%2F8005%2Fb682fdcd-7fe0-43f8-9eae-0f87f1b82346&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
</head>
<body>
	<a type=amzn >ハリー・ポッター</a>
</body>
</html>
